<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.netty.dao.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.iflytek.netty.dao.domain.entity.Teacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="studio_id" jdbcType="VARCHAR" property="studioId" />
    <result column="dance_id" jdbcType="VARCHAR" property="danceId" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="identify" jdbcType="VARCHAR" property="identify" />
    <result column="intro" jdbcType="LONGVARCHAR" property="intro" />
  </resultMap>
</mapper>